# SPDX-FileCopyrightText: The vmnet-helper authors
# SPDX-License-Identifier: Apache-2.0

# Project files.
/build/
/.venv/

# Editor files
/.zed/
/pyrightconfig.json

# Python
__pycache__

# macOS metadata
.DS_Store
