# SPDX-FileCopyrightText: The vmnet-helper authors
# SPDX-License-Identifier: Apache-2.0

---
name: Release

on:
  release:
    types:
      - created
      - edited
      - published

permissions:
  contents: read

jobs:
  release:
    name: Release artifacts
    runs-on: macos-26
    permissions:
      contents: write
    steps:
      - name: Release info
        run: |
          echo "Triggered by: ${{ github.event_name }}""
          echo "Action type: ${{ github.event.action }}"
          echo "Target commitish: ${{ github.event.release.target_commitish }}"
          echo "Tag name: ${{ github.event.release.tag_name }}"
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Install requirements
        run: brew install meson diffoscope
      - name: Build
        run: ./build.sh build
      - name: Test reproducibility
        run: |
          ./build.sh repro
          diffoscope build/vmnet-helper.tar.gz repro/vmnet-helper.tar.gz
      - name: Upload
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${GITHUB_REF_NAME} build/vmnet-helper.tar.gz install.sh
