# SPDX-FileCopyrightText: The vmnet-helper authors
# SPDX-License-Identifier: Apache-2.0

---
name: Test

on:
  pull_request:
  push:
    branches:
    - main
  schedule:
    - cron: '0 3 * * 0' # runs job at 3AM every sunday

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-15-intel, macos-26]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Host info
        run: |
          uname -a
          sw_vers
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Ensure tag
        # Archiving requires a tag, but we checkout only the last commit.
        run: git describe --tags 2>/dev/null || git tag devel
      - name: Install requirements
        run: brew install meson
      - name: Build
        run: ./build.sh build
      - name: List shared interfaces
        run: build/vmnet-helper --list-shared-interfaces
      - name: Print version
        run: build/vmnet-helper --version

  reproducibility:
    name: Reproducibility
    runs-on: macos-26
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Ensure tag
        run: git describe --tags 2>/dev/null || git tag devel
      - name: Install requirements
        run: brew install meson diffoscope
      - name: Build
        run: ./build.sh build
      - name: Test reproducibility
        run: |
          ./build.sh repro
          diffoscope build/vmnet-helper.tar.gz repro/vmnet-helper.tar.gz

  spelling:
    name: Spelling
    runs-on: macos-26
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Install requirements
        run: brew install meson codespell
      - name: Setup
        run: meson setup build
      - name: Check spelling
        run: meson test -C build codespell
