# SPDX-FileCopyrightText: The vmnet-helper authors
# SPDX-License-Identifier: Apache-2.0

---
name: Test

on:
  workflow_call:
  pull_request:
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  build:
    name: Build
    # https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: macos-26 # arm64
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Ensure tag
        # Archiving requires a tag, but we checkout only the last commit.
        run: git describe --tags 2>/dev/null || git tag devel
      - name: Install requirements
        run: brew install meson diffoscope codespell
      - name: Build
        run: ./build.sh build
      - name: Test reproducibility
        run: |
          ./build.sh repro
          diffoscope build/vmnet-helper.tar.gz repro/vmnet-helper.tar.gz
      - name: List shared interfaces
        run: build/vmnet-helper --list-shared-interfaces
      - name: Print version
        run: build/vmnet-helper --version
      - name: Check spelling
        run: meson test -C build/arm64 codespell
